<!doctype html>
<html lang="es" manifest="schedule5.manifest">
<head>
  <meta charset="utf-8">
  <title>Conferencia Rails 2010: <%= @item[:title] %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!--link rel="shortcut icon" href="favicon.ico"-->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="container">
    <header>
      <h1>Conferencia Rails 2010: <%= @item[:title] %></h1>
      <nav>
        <%= render 'navigation_menu', :items => @item[:nav] %>
      </nav>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>
      Get in touch. We’re all friendly.<br>
      <a href="mailto:info@conferenciarails.org">info@conferenciarails.org</a>
    </footer>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/schedule5.js"></script>
</body>
</html>