<% days.each do |day| %>
  <section>
    <h2 id="<%= day[:id] %>"><%= day[:title] %></h2>
    <ul>
      <% day[:conferences].each do |conference| %>
        <li>
          <div class="times">
            <span class="time start"><%= conference[:start] %></span>
            <% if conference[:end] %>
              <span class="time end"><%= conference[:end] %></span>
            <% end %>
          </div>
          <div class="info">
            <span class="conf-title<%= ' secondary' if conference[:secondary] %>"><%= conference[:title] %></span>
            <% if conference[:lecturer] %>
              <br><span class="conf-lecturer"><%= conference[:lecturer]%></span>
            <% end %>
          </div>
        </li>
      <% end %>
  </section>
<% end %>
