<% days.each do |day| %>
  <section>
    <h2 id="<%= day[:id] %>"><%= day[:title] %></h2>
    <ul>
      <% day[:conferences].each do |conference| %>
        <li>
          <div class="times">
            <span class="time start"><%= conference[:start] %></span><br>
            <% if conference[:end] %>
              <span class="time end"><%= conference[:end] %></span>
            <% end %>
          </div>
          <div class="info">
            <span class="conf-title<%= ' secondary' if conference[:secondary] %>"><%= conference[:title] %></span><br>
            <% if conference[:lecturer] %>
              <span class="conf-lecturer"><%= conference[:lecturer]%></span>
            <% end %>
          </div>
          <div class="more-info-button<%= ' on' if conference[:moreinfo] %>"></div>
          <% if conference[:moreinfo] %>
            <div class="more-info" style="display:none">
              <div class="close-me"></div>
              <span class="conf-title"><%= conference[:title] %></span>
              <%= conference[:moreinfo]%>
            </div>
          <% end %>
        </li>
      <% end %>
  </section>
<% end %>
